{% load static %}
 
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="{% static 'UI/style.css' %}">
</head>
<body>
    <div id="web-app">
        <h1>Match List</h1>
        <img src="{% static 'UI/resources' %}/flags/47.png">
        <ul id="tipp-list"></ul>
        <ul id="match-list"></ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'UI/scripts.js' %}"></script>
</body>
</html>
